// Section 1

.section{
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 5px!important
}

.responsive-section-mobile{
    display:flex!important;
}

.responsive-section-pc{
    display:none!important;
}

// PC
@media (min-width: 992px) {
    .responsive-section-mobile{
        display:none!important;
    }
}

// Mobile
@media (min-width: 992px) {
    .responsive-section-pc{
        display:flex!important;
    }
}

.background-color-1{
    background-color: #f4f4f4;
    padding-bottom: 5%;
}

// PC
@media (min-width: 992px) {
    .background-color-1{
        background-color: #ffb607;
        padding-bottom: 5%;
    }
}

// PC
@media (min-width: 992px) {
    .section{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
}

.translate-y-23{
    background-color: #ffb607;
    transform: translate(0px, -23px);
    height: 55vh;
}

// PC
@media (min-width: 992px) {
    .translate-y-23{
        background-color: #ffb607;
        transform: translate(0, 0);
        height: 55vh;
        display: flex;
        align-items: center;
    }
}

.translate-y40{
    transform: translate(0px, 40px);
    height: 100vh;
}

// iPad pro
@media only screen and (min-device-width: 1000px) and (max-device-width: 1030px) and (min-device-height: 1300px) and (max-device-height: 1370px){
    .translate-y40{
        display:none;
    }
}

// Tablet
@media only screen and (min-device-width: 599px) and (max-device-width: 991px){
    .translate-y40{
        display:none;
    }
}

// PC
@media (min-width: 992px) {
    .translate-y40{
        transform: translate(0px, 40px);
        height: initial;
        padding-bottom: 2.5%;
    }
}

.z-index-2{
    z-index: 2;
    height: 45vh;
}

// incompatible resolutions
@media only screen and (min-device-width: 465px) and (max-device-width: 599px) and (min-device-height: 1px) and (max-device-height: 820px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .z-index-2{
        z-index: 0;
        height: 45vh;
    }
}

//Surface Duo
@media only screen and (min-device-width: 540px) and (min-device-height: 719px) and (max-device-height: 720px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .z-index-2{
        z-index: 2;
        height: 45vh;
    }
}

.flex-center{
    display: flex;
    justify-content: center;
}

.section-line {
    border-left-style: solid;
    border-color: black;
    border-left-width: 10px;
    margin-left: 10px;
}


// Section 2 (MENU)

.section2 {
    background-color: $section2!important;
    padding-top: 20px!important;
    margin: none!important;
}

// PC
@media (min-width: 992px) {
    .section2 {
        padding-top: 0px!important;
    }

}

.container2{
    background-color:#1f1f1f;
    margin-top: 50px;
    margin-bottom: 50px;
}

//delivery method

.background-color-3{
    background-color: $orange;
    padding-bottom: 5%;
}

.locales{
    text-align: initial;
    margin-left: 10px;
}

// PC
@media (min-width: 992px) {
    .locales{
        text-align: end;
        margin-left: 0px;
    }
}

.background-color-4{
    background-color: $yellow;
    padding-bottom: 5%;
}

