//
// Buttons
//

.btn {
  border: none !important;
}

.btn-primary {
  border-color: rgba(0, 0, 0, 0) !important;
}

.btn-primary:hover {
  background-color: $yellow !important;
}

.btn-style {
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border-radius: 0;
  transition: all 0.2s !important;
}

.btn-style:hover {
  transform: scale(1.03, 1.03);
}

/// section 2 button
.buttons-section2 {
  display: flex;
  justify-content: center;
  margin: 10px 20px 20px 20px;
  padding-top: 10px;
}

.buttons-section2__margin {
  margin: 5px 20px 5px 20px;
}

.buttons-section2__margin-style {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 2px 10px 2px 10px;
  color: white;
  border: transparent;
  border-radius: 0px;
  // margin: 0px 30px 0px 30px;
}

.buttons-section2__margin-style:hover {
  transform: scale(1.03, 1.03);
}

// PC
@media (min-width: 992px) {
  .buttons-section2__margin-style {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    color: white;
    border: transparent;
    border-radius: 0px;
    margin: 0px 30px 40px 30px;
    padding: 20px 45px 20px 45px;
  }
}

//narrow screens
@media (max-width: 330px) {
  .buttons-section2__margin {
    margin: 5px 8px 5px 8px;
  }
}

.btn-primary--style {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 5px 30px 5px 30px;
  margin: 10px 0 10px 0;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255) !important;
  background-color: #0000003d !important;
  border-radius: 0px;
  transition: all 0.3s !important;
}

.btn-primary--style:hover {
  border: 2px solid $orange !important;
  color: white !important;
  background-color: $orange !important;
}

// PC
@media (min-width: 992px) {
  .btn-primary--style {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    padding: 5px 30px 5px 30px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255) !important;
    background-color: #0000003d !important;
    border-radius: 0px;
    position: initial;
    margin-top: 4%;
    transition: all 0.5s !important;
  }
}

/// section 3 button

.section__button3 {
  margin: 5px 0px 5px 0px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.section__button3-style {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 5px 30px 5px 30px;
  color: black;
  border: 2px solid black !important ;
  border-radius: 0px;
  position: absolute;
  bottom: 11%;
  transition: all 0.2s !important;
}

// PC
@media (min-width: 992px) {
  .section__button3-style {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    padding: 5px 30px 5px 30px;
    color: black;
    border: 2px solid black !important;
    border-radius: 0px;
    position: initial;
    margin-top: 4%;
    margin-left: 1.5%;
    transition: all 0.2s !important;
  }
}

.section__button3-style:hover {
  color: white;
  background-image: none;
  background-color: transparent;
  border: 2px solid white !important ;
}

// PC
@media (min-width: 992px) {
  .section__button3 {
    margin: 5px 20px 5px 0px;
    display: initial;
    align-content: initial;
    align-items: initial;
    justify-content: initial;
    text-decoration: none;
  }
}

.btnFooter {
  color: #ffffff00;
  background-color: #ffffff00;
}

.btnFooter:hover {
  color: #ffffff00;
  background-color: #ffffff00;
}

.img-social:hover {
  color: #ffffff00;
  background-color: #ffffff00;
}

.centerM {
  display: block;
  // margin-top: 70px;
  text-align: center;
  align-items: center;
}

// PC
@media (min-width: 992px) {
  .centerM {
    display: initial;
    text-align: initial;
    align-items: initial;
  }
}

.black {
  background-color: black;
}

.icons {
  display: flex;
  justify-content: center;
}

// PC
@media (min-width: 992px) {
  .icons {
    display: flex;
    justify-content: initial;
  }
}

.icons a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px 2.5px 2px 2.5px;
  font-size: 0.7rem;
  justify-content: center;
  margin: 7% 8% 0 8%;
  margin-top: 5vh;
  transition: all 200ms;
}

.icons a:hover {
  border-color: white;
  color: white;
}

// PC
@media (min-width: 992px) {
  .icons a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 2.5px 2px 2.5px;
    font-size: 0.7rem;
    justify-content: center;
    margin: 3% 0% 0 1.5%;
  }
}

// iPhone x
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (max-device-height: 813px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .icons a {
    margin-top: 8vh;
  }
}

// Galaxy Fold
@media only screen and (max-device-width: 300px) and (min-device-height: 650px) and (max-device-height: 680px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .icons a {
    margin-top: 7%;
  }
}

//Iphone 5/se
@media only screen and (max-device-width: 370px) and (max-device-height: 650px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .icons a {
    display:none;
  }
}

.locales-button {
  margin: 5px 0px 5px 0px;
  display: contents;
  text-decoration: none;
}

.locales-button__style {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 5px 30px 5px 30px;
  color: black;
  border: 2px solid black !important;
  border-radius: 0px;
  position: initial;
  margin-top: 4%;
  margin-left: 1.5%;
  transition: all 0.2s !important;
}

.locales-button__style:hover {
  color: white;
  background-image: none;
  background-color: transparent;
  border: 2px solid white !important ;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px 2.5px 2px 2.5px;
  font-size: 0.7rem;
  justify-content: center;
  margin: 3% 0% 0 1.5%;
}

.contact-icons a:hover {
  border-color: $orange;
  color: $orange;
}

.btn-contact {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 5px 30px 5px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid black !important;
  border-radius: 0px;
  position: initial;
  margin-top: 4%;
  margin-left: 1.5%;
  transition: all 0.2s !important;
}

.btn-contact:hover {
  border: 2px solid $orange !important;
}

.reservas-button {
  margin: 5px 0px 5px 0px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.reservas-button__style {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  font-size: 0.8rem;
  padding: 5px 30px 5px 30px;
  color: black;
  border: 2px solid black !important;
  border-radius: 0px;
  position: initial;
  margin-top: 4%;
  margin-left: 1.5%;
}

.reservas-button__style:hover {
  background-color: transparent;
  border: 2px solid $orange !important ;
}

//Cart
.cart-btn{
cursor: pointer;
font-family: "Poppins", sans-serif;
font-size: 0.8rem;
padding: 0;
color: white;
margin: 7% 0 7% 0;
background-color: $orange;
border: 2px solid $orange !important;
transform: translate(-10px, 0px);
display: none;
transition: all 300ms;
}

.no-translate{
  transform: translate(0, 0);
}

.cart-btn:hover{
  background-color: $yellow;
  border: 2px solid $yellow !important;
}

//Checkout
.checkout-btn{
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 0;
  color: white;
  background-color: $orange;
  border: 2px solid $orange !important;
  margin: auto;
  margin-top: 2%;
  transition: all 300ms;
  }

  .checkout-btn:hover{
    background-color: $yellow;
    border: 2px solid $yellow !important;
  }