#carouselExampleIndicators{
    display: none;
}

// Tablet and PC
@media (min-width: 600px) {
    #carouselExampleIndicators{
        display: table-row;
    }
}

.carousel-control-prev {
    left: -65px;
    filter: drop-shadow(2px 4px 6px black);
}

.carousel-control-next {
    right: -65px;
    filter: drop-shadow(2px 4px 6px black);
}