//
// Colors
//

// Variables
$orange: #e7801b;
$yellow: #ffb607;
$pink:#c56505;
$cool-pink: #c56507;


$section2: rgb(14, 14, 14);
$footer: #131313;
$footer-c: #171819;

.body-color{
    background-image:linear-gradient(to left, #ffffff, #f4f4f4, #eaeaea, #dfdfdf, #d5d5d5)!important;
}

.text-muted {
    color: #a7aaac !important;
}

// Override Bootstrap default state colors

$primary: $orange;
$secondary: $yellow;

textarea:focus, input[type="text"]:focus,textarea[type="text"]:focus,   input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,  input[type="color"]:focus, .uneditable-input:focus, .form-control:focus, .form-select:focus, .btn-close:focus {  
    border-color: rgba(255, 166, 0, 0.329);
    box-shadow: -1px 1px 4px 0px rgba(255, 166, 0, 0.329);
}

.btn:focus{
    border-color: $orange;
    box-shadow: -1px 1px 10px 0px rgba(255, 166, 0, 0.473);
}

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3;
