//
// Colors
//

// Variables

$pink: #ee0979;
$cool-pink: #aa31bd;
$orange: #e7801b;
$boton-background-image: linear-gradient(to bottom, #39004d, #641577, #942ca3, #c844d0, #ff5bfe);
$boton-background-image-hover: linear-gradient(to bottom, #641577, #942ca3, #c844d0, #c844d0, #ff5bfe);

$boton-background-image2: linear-gradient(to top, #39004d, #641577, #942ca3, #c844d0, #ff5bfe);
$boton-background-image-hover2: linear-gradient(to top, #c844d0, #c844d0, #c844d0, #c844d0, #c844d0);

$floating-btn: linear-gradient(to bottom, #641577, #872698, #ad38ba, #d549dc, #ff5bfe);

$section2: rgb(14, 14, 14);
$footer: #131313;
$footer-c: #171819;

.body-color{
    background-image:linear-gradient(to left, #ffffff, #f4f4f4, #eaeaea, #dfdfdf, #d5d5d5)!important;
}

.text-muted {
    color: #a7aaac !important;
}

// Override Bootstrap default state colors

$primary: $orange;
$secondary: $pink;

:root {
    --bs-blue: #000000!important;
}

body::selection{
    background-color: $cool-pink;
}


// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3;
