//
// Typography
//

//navbar
.easter-egg{
    font-size: 0.5rem;
    text-align: center;
    color: #ffffff00;
}

///Section 1 and 3
.section__title {
    text-align: initial;
    margin: 28px 0 0 10px;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 6px;
}

.section__h2 {
    margin: 0px 8px 8px 13px;
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1.1rem;
    text-align: initial;
    text-transform: uppercase;
}

.section-line__h4{
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    font-weight: bolder;
    margin: 20px 0 0 15px;
    letter-spacing: 1px;
}

.section-line__h4--span{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
}

.section-line__p {
    text-align: initial;
    margin: 5px 65px 0 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 0.7rem;
}

// PC
@media (min-width: 992px) {
    .section__title {
        text-align: initial;
        margin: 28px 0 0 8px;
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .section__h2 {
        margin: 8px 0 8px 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        text-align: start;
    }

    // .section__p {
    //     text-align: start;
    //     margin: 0px 25px 0px 0px;
    // }
}

///Section 2

.section2__title {
    padding-top: 5px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    /* margin-top: 50px; */
    font-weight: bold;
    margin: 0px 12px 0px 12px;
}

.section2__subtitle {
    margin: 10px 0px 8px 0px;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    color: white;
}

.responsive-p{
    color: grey;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 10px!important;
}

// PC
@media (min-width: 992px) {
    .responsive-p{
       display:none;
    }
}

// PC
@media (min-width: 992px) {
    .section2__title {
        padding-top: 50px !important;
        font-size: 2.5rem;
        font-family: "Manrope", sans-serif;
        text-align: center;
        color: white;
        /* margin-top: 50px; */
        font-weight: bold;
        margin-left: 0px;
    }

    .section2__subtitle {
        margin-top: 20px;
        font-family: "Raleway", sans-serif;
        font-size: 0.999rem;
        font-weight: 500;
        text-align: center;
        color: white;
    }
}

//small screens
@media (max-width: 330px) {
    .section2__title {
        padding-top: 50px !important;
        font-size: 0.8rem;
        font-family: "Manrope", sans-serif;
        text-align: center;
        color: white;
        /* margin-top: 50px; */
        font-weight: bold;
        // margin-left: 0px;
    }

    .section2__subtitle {
        margin-top: 20px;
        font-family: "Raleway", sans-serif;
        font-size: 0.7rem;
        font-weight: 500;
        text-align: center;
        color: white;
    }
}

// Footer
.footer {
    .footer__title {
        font-size: 1.5rem;
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        color: white;
    }

    .footer__title:hover {
        color: $pink;
    }

    .footer__subtitle {
        font-size: 0.9rem;
        font-family: "Manrope", sans-serif;
        text-decoration: none !important;
        color: rgb(173, 173, 173) !important;
    }

    .footer__subtitle:hover {
        color: #6c757d !important;
    }
}

.margin-title {
    margin-bottom: 2.5rem !important;
}

// PC
@media (min-width: 992px) {
    .margin-title {
        margin-bottom: 1.5rem !important;
    }
}

.footer-title {
    color: #b9b9b9 !important;
    text-decoration: none;
    font-size: 1.3rem;
}

// PC
@media (min-width: 992px) {
    .footer-title {
        font-size: 1.2rem;
    }
}

.footer-title:hover {
    color: #cbcbcb !important;
}

.footer-subtitles {
    color: #b9b9b9 !important;
}

.footer-p {
    display: none;
}

// PC
@media (min-width: 768px) {
    .footer-p {
        font-size: 0.9rem;
        margin-top: 0.85rem;
        display: block;
    }
}

.footer-items {
    color: #6c757d !important;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase !important;
    display: block;
    margin-bottom: 0.3rem;
}

.footer-items:hover {
    color: #b9b9b9 !important;
}

.footer-items--number {
    @extend.footer-items;
    font-family: "Manrope", sans-serif;
}

.small {
    font-size: 0.65rem !important;
}

.center-text {
    text-align: center;
}

.center-text__color {
    color: $cool-pink;
}

.container__h1 {
    font-size: 1.4rem;
}

// PC
@media (min-width: 992px) {
    .container__h1 {
        font-size: 2.5rem;
    }
}

.container__h3 {
    font-size: 1rem;
}

// PC
@media (min-width: 992px) {
    .container__h3 {
        font-size: 1.5rem;
    }
}

.titles{
    text-align: center;
    margin: 28px 0 0 8px;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
}

.titles-locales{
    text-align: center;
    margin: 28px 0 0 8px;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 6px;
    color: black;
}

.section-line__locales{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 20px 0 0 15px;
    letter-spacing: 1px;
}

.reservas{
    font-family: 'Poppins';
    font-weight: 100;
    text-align: center;
}










/// Override Bootstrap typography variables

$font-family-base: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 800;
